/* Основные стили */
body {
    font-family: 'Courier Prime', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="tel"],
input[type="url"],
input[type="file"],
textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input.invalid {
    border-color: red;
}

.error-message {
    color: red;
    display: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Адаптивность */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    form {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    label, input, button {
        font-size: 14px;
    }
    }
    input[type="text"],
    input[type="date"],
    input[type="time"],
    input[type="tel"],
    input[type="url"],
    input[type="file"],
    textarea {
        width: 95%;
        padding: 10px;
        margin-bottom: 20px;
        margin-right: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
